TAG=dev
POSTGRES_USER=monitor
POSTGRES_PASSWORD=change_me
POSTGRES_DB=monitoring
DB_HOST=db
DB_PORT=5432
DB_NAME=monitoring
DB_USER=monitor
DB_PASS=change_me
NASA_API_KEY=change_me
FINNHUB_TOKEN=change_me
